<div class="collection-container">
  <div class="collection-header">
    <img src="<%= @collection.banner_image_url %>" alt="<%= @collection.name %>", class="collection-header-banner"/>
    <div class="collection-header-overlay">
      <h1><%= @collection.name %></h1>
      <p><%= @collection.description %></p>
    </div>
  </div>
  <div class="collection-content">
    <h2>DAILY ANALYTICS (UPDATED HOURLY)</h2>
    <br>
    <div id="collection_stats">
      <%= turbo_stream_from "collection_stats_#{@collection.slug_name}" %>
      <%= render "collections/collection_stats", results: @results %>
    </div>
    <br>
    <br>
    <h2>NFTs</h2>
    <div class="collection-content-nfts">
      <% @nfts.each do |nft| %>
        <%= link_to nft.opensea_url, target: "_blank", rel: "noopener", class: "nft-link" do %>
          <div class="collection-content-nfts-item">
            <img src="<%= nft.display_image_url%>"/>
            <div class="collection-content-nfts-item-text">
              <p><%= @collection.name %></p>
              <p>#<%= nft.token_id %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>