<div class="collection-container">
  <div class="collection-header">
    <img src="<%= @collection.banner_image_url %>" alt="<%= @collection.name %>", class="collection-header-banner"/>
    <div class="collection-header-overlay">
      <h1><%= @collection.name %></h1>
      <p><%= @collection.description %></p>
    </div>
  </div>
  <%= button_to 'Fetch Event Data', event_collection_path()%>
  <div class="collection-content">
    <%= turbo_stream_from "collection_stats_#{@collection.slug_name}" %>

    <div id="collection_stats">
      <h2>DAILY ANALYTICS (UPDATED HOURLY)</h2>
      <br>
      <%= render "collections/collection_stats", results: @results %>
    </div>
    <br>
    <br>
    <h2>NFTs</h2>
    <div class="collection-content-nfts">
      <% @nfts.each do |nft| %>
        <div class="collection-content-nfts-item">
          <img src="<%= nft.display_image_url%>"/>
          <div class="collection-content-nfts-item-text">
            <p><%= nft.name %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>